.page-header{
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.top-bar-container{
  border-style: none none solid;
  border-color: #774dc9;
  background: #774DD6;
}

.page-header .top-bar-container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-in-primary);
  padding: 1.6rem 0;
}

.page-header .top-bar-container a:hover{
  opacity: 0.6;
}

.page-header .top-bar-container > img{
  height: 1.6rem;
}

.page-header .header-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 3.2rem auto; 
}

.page-header .header-content strong{
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.page-header .header-content p{
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
  margin-top: 2.4rem;
}

.page-header .header-content img,span{
  margin-top: 2.5rem;
}

.page-header .header-content img{
 margin-right: 0.5rem;
}

.page-header .header-content span{
  max-width: 15rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
}

@media (min-width: 700px){
  .page-header{
    height: 340px;
  }

  .page-header .top-bar-container a{
    margin-left: 10rem;
  }
  
  .page-header .top-bar-container img{
    margin-right: 10rem;
  }  

  /*.page-header .top-bar-container{
    max-width: 1517px;
  }*/
  
  .page-header .header-content{
    flex: 1;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .page-header .header-content strong {
    max-width: 350px;
  }

  .page-header .header-content img,span{
    position: absolute;
    margin-left: 70%;
  }
  
  .page-header .header-content img{
    padding-top: 2.5rem;
    margin: 64%;
  }
  
  .page-header .header-content span{
    max-width: 15rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
  }
}