#page-registration {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-in-primary);
}


.page-header2{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0rem;
  left: 8rem;
}

.page-header2 .top-bar-container2{
  width: 0%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
}

.page-header2 .top-bar-container2 a:hover{
  opacity: 0.6;
}

.page-header2 .top-bar-container2 > img{
  height: 6.6rem;
}

.page-header2 .header-content2 {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 3.2rem auto;
}
@media (min-width: 700px){
  .page-header2{
    height: 340px;
  }

  .page-header2 .top-bar-container2{
    max-width: 1100px;
  }

  .page-header2 .header-content2{
    flex: 1;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.background-page{
  width: 140vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
}

.background-page .background_img{
position: absolute;
width: 45vw;
height: 50vh;

transform: rotate(90deg);
} 

.background-page .logo-container2 img {
  height: 10rem;
}

.logo-container2 {
  text-align: left;
  margin-bottom: 3.2rem;
}

.logo-container2 h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
  width: 25vw;
}

#page-registration article {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

article .registrationForm {
  display: block;
  justify-content: center;
  align-items: center; 
  padding-left: 7vw;

  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  overflow: hidden;

}

.registrationForm legend {
  margin-bottom: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;

  color: #32264D;
}

.registrationForm h3 {
  display: block;
  justify-content: center;
  align-items: center; 
  width: 15vw;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;

  color: #6A6180;
  }

.registrationForm .Input {
  width: 40rem;
  height: 8.4rem;
  padding: 10px;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  box-sizing: border-box;
  border-radius: 8px 8px 8px 8px;
}


 .registrationForm .button-in {
  margin-top: 1rem;
  width: 40rem;
  height: 7.4rem;
  border-radius: 0.8rem;
  font: 700 2.0rem Archivo;
  
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);
  background: var(--color-secundary);
  transition: background-color 0.2s;
}

.registrationForm a.button-in:hover {
  background: var(--color-secundary-dark);
}


